
<% if admin_user_signed_in? %>
<%= link_to 'Signout', destroy_admin_user_session_path, :method => :delete %>
<%= link_to 'Home', root_path %>

<%= link_to 'About', about_path %>
<%= link_to 'Contact', contact_path %>
<%= link_to 'Careers', careers_path %>
<% else %>
<%= link_to 'Signin', new_admin_user_session_path %>

<% end %>
<h1> All Articles </h1>



<% @articles.each do | article | %>
   <p>  
    Id: <%= article.id %> 
    </p>
   <p>  
   Title: <%= article.title %>    </p>
  <p>    Description: <%= article.description %>   </p>
<% end %>

